# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.8xp'
'name': 'Ti-Basic'
'fileTypes': [
  'extension'
]
'patterns': [
  {
    'match': '^\\s*".*$'
    'name': 'comment'
  },
  {
    'match': '\\b(abs|angle|Asm|AsmComp|augment|bal|binomcdf|binompdf|checkTmr|x²cdf|x²pdf|x²-Test)\\b'
    'name': 'support.function.tibasic'
  },
  {
    'match': '\\b(If|Then|Else|End|Repeat|While|For|Pause|Lbl|Goto|Wait|Menu|Return|Stop|DelVar)\\b'
    'name': 'keyword.control.tibasic'
  },
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.tibasic'
  }
]
